@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?41e0q0');
  src:  url('fonts/icomoon.eot?41e0q0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?41e0q0') format('truetype'),
    url('fonts/icomoon.woff?41e0q0') format('woff'),
    url('fonts/icomoon.svg?41e0q0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hand2:before {
  content: "\eb41";
}
.icon-home3:before {
  content: "\eb46";
}
.icon-megaphone5:before {
  content: "\eb6d";
}
.icon-new:before {
  content: "\eb79";
}
.icon-v-card:before {
  content: "\ebc6";
}
.icon-facebook2:before {
  content: "\ebf5";
}
.icon-google2:before {
  content: "\ebfb";
}
.icon-instagram-with-circle:before {
  content: "\ebfc";
}
.icon-pinterest-with-circle:before {
  content: "\ec02";
}
.icon-twitter2:before {
  content: "\ec0a";
}

